*, body {
    margin: 0;
    padding: 0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.home-container {
    background: url('/static/images/bgphoto.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}